body {
  background-color: #e7eaea;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.app-container {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  width: 100%;
  max-width: 1200px;
  border-bottom: 1px solid rgba(168, 168, 171, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.city-search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  flex-wrap: wrap;
}

.search-input {
  font-size: 16px;
  background-color: #e7eaea;
  padding: 15px 20px;
  border: 1px solid rgba(168, 168, 171, 0.3);
  border-radius: 6px;
  flex: 1;
}

.search-button {
  font-size: 16px;
  padding: 15px 40px;
  border: 1px solid #f65292;
  border-radius: 6px;
  background-color: #f65292;
  color: white;
  cursor: pointer;
}

.main {
  padding: 30px 20px 0px 20px;
}

.heading-current-city {
  font-size: 46px;
  font-weight: 900;
}

.current-weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-weather-details {
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 400;
}

.current-weather-details strong {
  color: #f65292;
}

.current-weather-info,
.current-weather-degrees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.weather-icon img {
  vertical-align: top;
}

.weather-value {
  position: relative;
  font-size: 80px;
  font-weight: 900;
}

.weather-unit {
  position: relative;
  font-size: 25px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.forecast-temperature-max {
  font-weight: 900;
  color: #f65292;
}

.forecast-temperature-min {
  color: #70757a;
}

.footer {
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
  border-top: 1px solid rgba(168, 168, 171, 0.3);
  padding: 20px;
  margin-top: 30px;
}

.footer a {
  color: #f65292;
  font-weight: 500;
}


@media (max-width: 480px) {
  .search-button {
    margin: auto;
  }
  .weather-value {
    font-size: 45px;
  }

  .footer {
    font-size: 10px;
  }

  .heading-current-city, .current-weather-details {
    text-align: center;
  }
}