body {
  background-color: #e7eaea;
  font-family: "Roboto", sans-serif;
}

.app-container {
  background-color: white;
  max-width: 670px;
  display: block;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
}

header {
  border-bottom: 1px solid rgba(168, 168, 171, 0.3);
  padding: 20px;
}

.search-input {
  font-size: 16px;
  background-color: #e7eaea;
  width: 75%;
  padding: 20px 25px;
  border: 1px solid rgba(168, 168, 171, 0.3);
  border-radius: 6px;
  margin: 0 8px 0 0;
}

.search-button {
  font-size: 16px;
  padding: 20px 45px;
  border: none;
  border-radius: 6px;
  background-color: #f65292;
  color: white;
}

main {
  padding: 30px 20px 0px 20px;
}

.heading-current-city {
  font-size: 46px;
  font-weight: 900;
}

.current-weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-weather-details {
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 400;
}

.current-weather-details strong {
  color: #f65292;
}

.weather-icon img {
  vertical-align: top;
}
.weather-value {
  position: relative;
  font-size: 80px;
  font-weight: 900;
}

.weather-unit {
  position: relative;
  font-size: 25px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.forecast-temperature-max {
  font-weight: 900;
  color: #f65292;
}

.forecast-temperature-min {
  color: #70757a;
}

footer {
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
  border-top: 1px solid rgba(168, 168, 171, 0.3);
  padding: 20px;
  margin-top: 30px;
}

footer a {
  color: #f65292;
  font-weight: 500;
}
